.lotter-contain {
  width: 750px;
  height: 1334px;
  background-image: url(http://www.jsdaima.com/Upload/1482283667/cjbg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
body{

  background-image: url(http://www.jsdaima.com/Upload/1482283667/cjbg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
*{
  margin-left: 0;padding-left: 0;
}

.shanDeng{
  width: 750px;
  height: 750px;
  background-size: 100%;
  background-repeat: no-repeat;
  /* margin: 0 auto; */
  position: absolute;
  margin-top: 500px;
}

.shanDeng{
  background-image: url(http://www.jsdaima.com/Upload/1482283667/shandeng1.png);
}

/* #btn .cjBtnDom,#btn .cjBtn,.shanDeng .active,.shanDeng td{
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
} */

#btn.cjBtn{
  background-image: url(http://www.jsdaima.com/Upload/1482283667/buttonUp.png);
}
#btn.cjBtnDom{
  background-image: url(http://www.jsdaima.com/Upload/1482283667/buttonDown.png);
}


.luck .active{
  background-image: url(http://www.jsdaima.com/Upload/1482283667/active.png);
}
.shanDeng td{
  width: 20px;
  height: 20px;
  text-align: center;
  background-image: url(http://www.jsdaima.com/Upload/1482283667/proBj.png);
  background-repeat: round;
}
.luck {
  width: 750px;  
}
.luck .active {
  background-image: url(http://www.jsdaima.com/Upload/1482283667/active.png)
}
.table-main {    
  width: 550px;
  height: 550px;
  table-layout: fixed !important;
  word-wrap: break-word;
  word-break: break-all;
  margin: 0 auto; 
}
img {
  width: 100%;
}